import mysql.connector

class Move:

    def get_location(self):

        cnx = mysql.connector.connect(user='root', database='inventory', charset='utf8')
        cursor = cnx.cursor()

        query = ("SELECT * FROM location"
                 )

        cursor.execute(query)

        loc = []

        for (lid, l_name, l_add, l_city) in cursor:
            l = [lid, l_name]
            loc.append(l)


        return loc

    def get_product(self):
        cnx = mysql.connector.connect(user='root', database='inventory', charset='utf8')
        cursor = cnx.cursor()

        query = ("SELECT * FROM product"
                 )

        cursor.execute(query)

        pro = []

        for (pid, p_name, p_type, p_weight) in cursor:
            p = [pid,p_name]
            pro.append(p)
        return pro

    def insert(self, f, to, pid, qty):
        flag=0
        print qty
        c = self.get_avail(f, qty ,pid)
        print c
        if (((f != '--') or (to != '--') ) and c == 1):

             cnx = mysql.connector.connect(user='root', database='inventory', charset='utf8')
             cursor = cnx.cursor()

             add = ('INSERT INTO movement '
               '(l_from, l_to, pid, qty)'
               'VALUES (%s, %s, %s,%s)')

             data = (f, to, pid, qty)

        # Insert new employee
             cursor.execute(add, data)
#checking to
             if to != '--':

                 i=self.check(to, pid)

                 if i == 1:
                     query = ('update quantity set qty=qty+%s where lid=%s and pid=%s'
                     )

                     info = (qty, to, pid)
                 else:
                     query= ('INSERT INTO quantity '
                         '(lid, pid, qty)'
                         'VALUES (%s, %s, %s)')
                     info = (to, pid, qty)

                 cursor.execute(query, info)

#checking from
             if f != '--':

                    query = ('update quantity set qty=qty+%s where lid=%s and pid=%s'
                             )

                    info1 = (qty, f, pid)
                    cursor.execute(query,info)


             flag=1
             cnx.commit()

             cursor.close()
             cnx.close()

    def check(self, un, pa):
        cnx = mysql.connector.connect(user='root', database='inventory', charset='utf8')
        cursor = cnx.cursor()

        query = ("SELECT * FROM quantity WHERE lid=%s and pid=%s"
                 )

        add_data = (un, pa)

        cursor.execute(query, add_data)

        for (lid) in cursor:
            return 1

        cursor.close()
        cnx.close()

    def get_avail(self ,f ,qty, pid):
            cnx = mysql.connector.connect(user='root', database='inventory', charset='utf8')
            cursor = cnx.cursor()
            c=0
            query = ("SELECT * FROM quantity WHERE lid=%s and pid=%s and qty>=qty"
                     )

            add_data = (f, pid, qty)

            cursor.execute(query, add_data)

            for (lid) in cursor:
                c=1
            return c
            cursor.close()
            cnx.close()